**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
#meth1
input_string = "Hello, World!"
length = len(input_string)
print("Length of the string:", length)

Length of the string: 13

In [ ]:
#meth2
input_string = "Hello, World!"
count = 0
for char in input_string:
    count += 1
print("Length of the string:", count)

Length of the string: 13

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:

input_string = "w3resource"
if len(input_string) < 2:
    result = ""
else:
    result = input_string[:2] + input_string[-2:]
print("Result:", result)

Result: w3ce

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:

input_string = "abc"
if len(input_string) < 3:
    result = input_string
elif input_string[-3:] == "ing":
    result = input_string + "ly"
else:
    result = input_string + "ing"
print("Result:", result)

Result: abcing

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
def find_longest_word(words):
    longest_word = ""
    max_length = 0
    for word in words:
        length = len(word)
        if length > max_length:
            longest_word = word
            max_length = length
    return longest_word, max_length
words=["mazen","mazen osama","mazen osama mohamed"]
print(find_longest_word(words))

('mazen osama mohamed', 19)

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
#meth1
input_string = "mazen"
if len(input_string) <= 1:
    result = input_string
else:
    result = input_string[-1] + input_string[1:-1] + input_string[0]
print("Result:", result)

Result: nazem

In [ ]:
#meth2
input_string = "osama"
if len(input_string) <= 1:
    result = input_string
else:
    result = input_string[len(input_string) - 1] + input_string[1:len(input_string) - 1] + input_string[0]
print("Result:", result)

Result: asamo

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:

input_string = "abca"
result = ""
for i in range(len(input_string)):
    if i % 2 == 0:
        result += input_string[i]
print("Result:", result)

Result: ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:

input_sentence = "mazen and ahmed are friends "

words = input_sentence.split()


word_counts = {}
for word in words:
    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1


for word, count in word_counts.items():
    print(word, ":", count)

mazen : 1
and : 1
ahmed : 1
are : 1
friends : 1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [75]:

user_input = input("Enter some text: ")
print("Upper case:", user_input.upper())
print("Lower case:", user_input.lower())

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [1]:
def reverse_string(input_string):
    if len(input_string) % 4 == 0:
        return input_string[::-1]
    else:
        return input_string
string1="mazen"
string2="volt"
print(reverse_string(string1))
print(reverse_string(string2))

mazen
tlov

**10- Write a Python program to remove a newline in Python

In [41]:

string_with_newline = "mazen osama\nmohamed"
string_without_newline = string_with_newline.replace("\n"," ")
print("String with newline:", string_with_newline)
print("String without newline:", string_without_newline)

String with newline: mazen osama
mohamed
String without newline: mazen osama mohamed

**11-Write a Python program to check whether a string starts with specified characters

In [43]:

input_string = "mazen osama"
specified_chars = "m"
if input_string.startswith(specified_chars):
    print("The string starts with the specified characters.")
else:
    print("The string does not start with the specified characters.")

The string starts with the specified characters.

**12- Write a Python program to add prefix text to all of the lines in a string

In [47]:

input_string = "mazen\nahmed"
prefix_text = "eng "
result = ""
for line in input_string.split("\n"):
    result += prefix_text + line + "\n"
print(result)

eng mazen
eng ahmed

**13-Write a Python program to print the following numbers up to 2 decimal places

In [49]:

numbers = [3.14159, 2.71828, 1.41421, 0.57721]
for number in numbers:
    print("{:.2f}".format(number))

3.14
2.72
1.41
0.58

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [51]:

numbers = [3.14159, -2.71828, 1.41421, -0.57721]
for number in numbers:
    print("{:+.2f}".format(number))

+3.14
-2.72
+1.41
-0.58

**15-Write a Python program to display a number with a comma separator

In [53]:

number = 1234567890
print("{:,}".format(number))

1,234,567,890

**16-Write a Python program to reverse a string using 2 ways

In [57]:
#meth1
input_string = "mazen osama"
reversed_string = input_string[::-1]
print(reversed_string)
#meth2
input_string = "mazen osama"
reversed_string = ""
for i in range(len(input_string) - 1, -1, -1):
    reversed_string += input_string[i]
print(reversed_string)

amaso nezam
amaso nezam

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [59]:

input_string = "mazen osama"
char_count = {}
for char in input_string:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1
for char, count in char_count.items():
    if count > 1:
        print("Character '{}' appears {} times.".format(char, count))

Character 'm' appears 2 times.
Character 'a' appears 3 times.

**18-Write a Python program to find the first non-repeating character in a given string

In [63]:

input_string = "mazen osama"
char_count = {}
for char in input_string:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1
for char in input_string:
    if char_count[char] == 1:
        print("The first non-repeating character is '{}'.".format(char))
        break
else:
    print("There are no non-repeating characters.")

The first non-repeating character is 'z'.

**19-Write a Python program to remove spaces from a given string

In [65]:

input_string = "   mazen osama   "
output_string = input_string.replace(" ", "")
print(output_string)

mazenosama

**20-Write a Python program to count the number of non-empty substrings of a given string

In [67]:

input_string = "abcd"
count = 0
for i in range(len(input_string)):
    for j in range(i+1, len(input_string)+1):
        count += 1
print("The number of non-empty substrings is {}.".format(count))

The number of non-empty substrings is 10.

**21-write a Python program to swap first and last element of any list.

In [69]:
input_list = [1, 2, 3, 4, 5]
if len(input_list) >= 2:
    input_list[0], input_list[-1] = input_list[-1], input_list[0]
print(input_list)

[5, 2, 3, 4, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [71]:
input_list = [23, 65, 19, 90]
pos1 = 1
pos2 = 3
if pos1 >= 0 and pos2 >= 0 and pos1 < len(input_list) and pos2 < len(input_list):
    input_list[pos1], input_list[pos2] = input_list[pos2], input_list[pos1]
print(input_list)

[23, 90, 19, 65]

**23- search for the all ways to know the length of the list

In [73]:
**24-write a Python code to find the Maximum number of list of numbers.

SyntaxError: invalid syntax (395265437.py, line 1)

In [ ]:
#23
#len
#for loop

In [74]:
#24
numbers = [10, 20, 30, 40, 50]
max_number = max(numbers)
print("The maximum number is:", max_number)

The maximum number is: 50

In [75]:
**25-write a Python code to find the Minimum number of list of numbers.

SyntaxError: invalid syntax (236367960.py, line 1)

In [76]:
numbers = [10, 20, 30, 40, 50]
min_number = min(numbers)
print("The minimum number is:", min_number)

The minimum number is: 10

**26-search for if an elem is existing in list

In [87]:
my_list = ["mazen", "osama", "mohamed"]
elem = "osama"
if elem in my_list:
    print("The element", elem, "exists in the list.")
else:
    print("The element", elem, "does not exist in the list.")

The element osama exists in the list.

**27- clear python list using different ways

In [98]:
#meth1
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print(my_list)
#meth2
my_list = [1, 2, 3, 4, 5]
my_list = []
print(my_list)

[]
[]

**28-remove duplicated elements from a list

In [109]:
my_list = [1, 2, 2, 3, 3, 3, 4, 4, 5]
my_list = list(set(my_list))
print(my_list)

[1, 2, 3, 4, 5]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [120]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]
result = []
for i in range(len(test_list)//len(key_list)):
    temp = {}
    for j in range(len(key_list)):
        temp[key_list[j]] = test_list[i*len(key_list) + j]
    result.append(temp)
print(result)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [121]:
#meth1
input_list = [10, 20, 30, 40, 10, 20, 50, 60]

unique_dict = {}
for value in input_list:
    if value in unique_dict:
        unique_dict[value] += 1
    else:
        unique_dict[value] = 1
count = len(unique_dict)
print("Number of unique values:", count)
#meth2
from collections import Counter
input_list = [10, 20, 30, 40, 10, 20, 50, 60]
unique_count = Counter(input_list)
count = len(unique_count)
print("Number of unique values:", count)

Number of unique values: 6
Number of unique values: 6

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [122]:

test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
freq_dict = {}
for element in test_list:
    if element in freq_dict:
        freq_dict[element] += 1
    else:
        freq_dict[element] = 1
result = []
for element, frequency in freq_dict.items():
    if frequency > K:
        result.append(element)
print("Elements with frequency greater than", K, ":", result)

Elements with frequency greater than 3 : [4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

[2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [132]:
from itertools import permutations
input_list = [1, 2, 3]
permutations_list = list(permutations(input_list))
for p in permutations_list:
    print(p[0], p[1], p[2], "##")

1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1 ##

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [133]:
from itertools import combinations
test_list = [1, 2, 3]
result = []
for i in range(1, len(test_list) + 1):
    for c in combinations(test_list, i):
        if c[0] == 1 or c[-1] == 3:
            result.append(list(c))
for r in result:
    print(r)

[1]
[3]
[1, 2]
[1, 3]
[2, 3]
[1, 2, 3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [134]:
from itertools import product
list_1 = ["a", "b"]
list_2 = [1, 2]
unique_combinations = list(product(list_1, list_2))
unique_combinations = [list(x) for x in product(unique_combinations, repeat=2) if len(set(x)) == len(x)]
print("Unique combinations:", unique_combinations)

Unique combinations: [[('a', 1), ('a', 2)], [('a', 1), ('b', 1)], [('a', 1), ('b', 2)], [('a', 2), ('a', 1)], [('a', 2), ('b', 1)], [('a', 2), ('b', 2)], [('b', 1), ('a', 1)], [('b', 1), ('a', 2)], [('b', 1), ('b', 2)], [('b', 2), ('a', 1)], [('b', 2), ('a', 2)], [('b', 2), ('b', 1)]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [135]:

input_list = [1, 1, 2, 3, 4, 5, 1, 2, 1]
element = 1
output_list = [x for x in input_list if x != element]
print("Output:", output_list)

Output: [2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [136]:

list1 = ['Gfg', 'is', 'best']
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
for i in range(len(list2)):
    if list2[i] < len(list1):
        list2[i] = list1[list2[i]]
    else:
        list2[i] = ''
print("The lists after index elements replacements is :", list2)

The lists after index elements replacements is : ['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [137]:

test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 2
result_list = [t for t in test_list if t.count(K) == N]
print("Result:", result_list)

Result: [(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [138]:

array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
def sort_list_by_column(arr, col):
    return sorted(arr, key=lambda x: x[col])
for i in range(len(array[0])):
    sorted_array = sort_list_by_column(array, i)
    print("Sorted array specific to column", i, ":", sorted_array)

Sorted array specific to column 0 : [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1 : [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2 : [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [139]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

SyntaxError: invalid syntax (1197306156.py, line 1)

In [140]:
my_dict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
sorted_by_key = dict(sorted(my_dict.items()))
sorted_by_value = dict(sorted(my_dict.items(), key=lambda x: x[1]))
print("Sorted by key:", sorted_by_key)
print("Sorted by value:", sorted_by_value)

Sorted by key: {'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}
Sorted by value: {'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [141]:
test_dict = {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
K = 7
result_dict = {}
for key, val in test_dict.items():
    if isinstance(val, int) and val > K:
        continue
    result_dict[key] = val
print("Updated dictionary:", result_dict)

Updated dictionary: {'Gfg': 3, 'is': 7, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [142]:
# Define the dictionaries
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

# Concatenate the dictionaries
result_dict = {}
for d in (dic1, dic2, dic3):
    result_dict.update(d)

# Print the concatenated dictionary
print("Concatenated dictionary:", result_dict)

Concatenated dictionary: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [143]:

my_dict = {"apple": 3, "banana": 2, "orange": 1}


print("Keys:")
for key in my_dict:
    print(key)


print("\nValues:")
for value in my_dict.values():
    print(value)


print("\nKey-Value Pairs:")
for key, value in my_dict.items():
    print(key, ":", value)

Keys:
apple
banana
orange

Values:
3
2
1

Key-Value Pairs:
apple : 3
banana : 2
orange : 1

**44- Write a Python script to merge two Python dictionaries

In [144]:

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged_dict = {**dict1, **dict2}
print("Merged dictionary:", merged_dict)

Merged dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [145]:
def get_max_min_values(dictionary):
    values = dictionary.values()
    max_value = max(values)
    min_value = min(values)
    return max_value, min_value
my_dict = {'a': 10, 'b': 5, 'c': 15, 'd': 3}
max_value, min_value = get_max_min_values(my_dict)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 15
Minimum value: 3

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [146]:
def drop_empty_items(dictionary):
    new_dictionary = {key: value for key, value in dictionary.items() if value is not None}
    return new_dictionary
dict = {'c1': 'Red', 'c2': 'Green', 'c3': None}
print(drop_empty_items(dict))

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [147]:

my_tuple = (1, 2, 3, 4, 5)
print("Second item in the tuple:", my_tuple[1])

Second item in the tuple: 2

**48-Write a Python program to unpack a tuple into several variables

In [148]:

my_tuple = (1, 2, 3)
a, b, c = my_tuple
print("a =", a)
print("b =", b)
print("c =", c)

a = 1
b = 2
c = 3

**49-Write a Python program to add an item to a tuple

In [149]:
def add_item_to_tuple(my_tuple, item):
    new_tuple = my_tuple + (item,)
    return new_tuple
tup=(1,2,3,4,5)
item=6
add_item_to_tuple(tup,item)

(1, 2, 3, 4, 5, 6)

**50-Write a Python program to convert a tuple to a string

In [150]:
def convert_tup_to_list(my_tup):
    my_list = list(my_tup)
    return my_list
tuple_con=(1,2,3,4,5)
print(convert_tup_to_list(tuple_con))

[1, 2, 3, 4, 5]

**51-Write a Python program to convert a list to a tuple

In [151]:
def convert_list_to_tuple(my_list):
    my_tuple = tuple(my_list)
    return my_tuple
list_con=[1,2,3,4,5]
print(convert_list_to_tuple(tuple_con))

(1, 2, 3, 4, 5)

**52-Write a Python program to reverse a tuple

In [152]:
def reverse_tuple(tuple_value):
    reversed_tuple = tuple_value[::-1]
    return reversed_tuple
tup_con=(1,2,3,4,5,6)
print(reverse_tuple(tup_con))

(6, 5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [153]:
def replace_last_value(tuple_list, new_value):
    modified_list = []
    for tuple_item in tuple_list:
        modified_tuple = tuple_item[:-1] + (new_value,)
        modified_list.append(modified_tuple)
    return modified_list
new=100
tuple_list=[(10,20,40),(40,50,60),(70,80,90)]
print(replace_last_value(tuple_list,new))

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [154]:
def convert_string_to_tuple(string):
    char_list = list(string)  # Convert string to a list of characters
    string_tuple = tuple(char_list)  # Convert the list to a tuple
    return string_tuple
string="python 3.0"
converted=convert_string_to_tuple(string)
print(converted)

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [155]:

my_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
sum = 0
count = 0
for tup in my_tuple:
    for num in tup:
        sum += num
        count += 1
average = sum / count
print("Average value:", average)

Average value: 5.0

**56-Write a Python program to add member(s) to a set.

In [156]:
def add_members(my_set, members):
    for member in members:
        my_set.add(member)
setoo={1,2,3,4}
num_add={5,6}
add_members(setoo,num_add)
print(setoo)

{1, 2, 3, 4, 5, 6}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [157]:

my_set = {1, 2, 3, 4, 5}
item_to_remove = 4
if item_to_remove in my_set:
    my_set.remove(item_to_remove)
    print("Item removed")
else:
    print("Item not found in set")
print("Updated Set:", my_set)

Item removed
Updated Set: {1, 2, 3, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [158]:

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection = set1.intersection(set2)
print("Intersection:", intersection)
union = set1.union(set2)
print("Union:", union)
difference = set1.difference(set2)
print("Difference:", difference)
symmetric_difference = set1.symmetric_difference(set2)
print("Symmetric Difference:", symmetric_difference)

Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Difference: {1, 2, 3}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [159]:

def find_max_min(my_set):
    my_list = list(my_set)
    max_value = max(my_list)
    min_value = min(my_list)
    return max_value, min_value
set={1,2,3,4,5}
max_number,min_number=find_max_min(set)
print(max_number)
print(min_number)

5
1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [160]:
def find_number_pairs(numbers):
    number_pairs = []

    for i in range(len(numbers)):
        for j in range(i + 1, len(numbers)):
            if numbers[i] + numbers[j] == 15:
                number_pairs.append((numbers[i], numbers[j]))

    return number_pairs
numbers=[1,2,3,4,5,6,7,8,9,10,11,12]
dues=find_number_pairs(numbers)
for due in dues:
    print(due)

(3, 12)
(4, 11)
(5, 10)
(6, 9)
(7, 8)